:root { 
    --primary-color: #FFFFFF;
    --secondary-color: #E1CE7A;
    --accent-color: #424B54;
    --accent2-color: #EBCFB2;
}

nav a {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: blueviolet;
}
